<div class="search-form flex-row">
  <div class="search-form-title">航空母舰<span class="search-form-quantity">共168个结果</span></div>
  <input class="keyword m-r" type="text">
  <button class="btn m-r">全选</button>
  <button class="btn m-r">锁定</button>
  <button class="btn m-r">移动</button>
  <button class="btn btn-remove m-r">删除</button>
  <button class="btn btn-batch">完成</button>
</div>

<div class="picture-item">
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/right.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/right.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/right.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/right.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/right.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/right.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/question.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/remove.png" alt="问题图片">
  </div>
  <div class="picture-box">
    <img class="picture-m" src="assets/images/img01.png" alt="图片">
    <img class="picture-mark" src="assets/images/lock.png" alt="问题图片">
  </div>
</div>
