

  ::ng-deep .ant-spin-dot-item {
    background-color: #fff !important;
  }

  
  ::ng-deep .ant-spin{
    color: #fff !important;
  }
  .inputGroup{
    ul{
      list-style: none;
      border-radius: 5px;
      background: transparent;
      border: none;
      li{
        background: #fff;
        border-radius: 5px;
        // border-bottom: 1px solid rgb(83, 83, 83);
        margin-bottom: -3px;
      }
      // li:hover{
      //   color: #fff;
      //   background: rgb(45, 131, 201);
      // }
      .isSelect{
        color: #fff;
        background: rgb(45, 131, 201);
      }
    }
  }