<div class="flex-row">
  <div class="audit-left flex-column">
    <div class="search-form flex-row" style="position: relative;">
      <div style="position: relative;left: 25px;">
        <label for="datePice" style="color: #fff;">选择日期：</label>
        <nz-range-picker class="blue-datepicker" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" name="datePice" style="position: relative;left: 20px;"></nz-range-picker>
    </div>
      <!-- <nz-select class="blue-select">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
      </nz-select> -->

      <!-- <input class="keyword" type="text" (click)="search()"/> -->
      <button nz-button nzType="primary" (click)="search(true)" style="position: absolute;right: 10px;width: 100px;">查询</button>
    </div>

    <div class="audit-table-box" >
      <nz-table class="blue-table" #auditTable [nzData]="listOfData" [nzShowPagination]="false"
                nzTableLayout="fixed">
        <thead>
        <tr>
          <th nzWidth="60px"></th>
          <th>昵称</th>
          <th>地区</th>
          <th>权限</th>
          <th>待审核数量</th>
          <th>标注时间</th>
          <th>总数</th>
          <th>审核状态</th>
         
        </tr>
        </thead>
        <tbody >
        <ng-container *ngFor="let data of auditTable.data">
          <tr>
            <td [nzExpand]="expandSet.has(data.createdBy)" (nzExpandChange)="onExpandChange(data, $event)"></td>
            <td>{{ data.createdByName }}</td>
            <td>{{ data.area }}</td>
            <td>{{ data.authority }}</td>
            <td>{{ data.unchedkFile}}</td>
            <td>{{ data.lastTime | date :'yyyy-MM-dd'  }}</td>
            <td>{{ data.countNum}}</td>
            <td>
              <!--
              <span>{{ data.checkFile}}</span>
              /
              <span>{{ data.countFile}}</span>
              -->
              <nz-progress [nzPercent]="data.checkFile * 100 / data.countFile"></nz-progress>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.createdBy)">
            <div class="audit-image-wrap" *ngIf="data.hasFiles">
              <div
                  *ngFor="let sampleFile of data.sampleFiles"
                   (click)="selectSampleFile(data, sampleFile)"
                   [class.current-sample]="currentSampleFile?.id === sampleFile.id"
                   >
                <img [src]="sampleFile.ossKey | ossPath" >
              </div>
            </div>
            <div class="audit-image-wrap" *ngIf="!data.hasFiles">
                  <p style="margin: 0;text-align: center;width: 100%;">该任务下未查询到标注数据，请先标注！</p>
            </div>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div class="audit-right flex-column">
    <div class="audit-picture flex-row">
      <img *ngIf="currentSampleFile" class="img-responsive" [src]="currentSampleFile?.ossKey | ossPath">
    </div>
    <div class="audit-pictures">
      <div class="audit-picture-item flex-row" *ngFor="let markedRect of markedRects;let key = index" [ngClass]="{'audit-picture-item-active': key == selectClassIndex}" (click)="changeClassIndex(key)">
        <div class="audit-picture-item-photo">
          <!-- <img style="width: auto;height: 100px" [src]="markedRect.rect | MarkedRectImage : currentSampleFile | async"> -->
          <img style="width: 100%" [src]="currentSampleFile?.ossKey | ossPath">
        </div>
        <div class="audit-picture-item-text flex-row">类型：<span>{{markedRect.typeId | SampleTypeIdPath | async}}</span></div>
        <div class="audit-picture-item-text flex-row classId" style="display: none;">id:<span>{{markedRect.typeId}}</span></div>
      </div>
      <!--
      <div class="audit-picture-item flex-row">
        <div class="audit-picture-item-photo">
          <img class="img-responsive" src="assets/images/img02.jpg" alt="图片">
        </div>

        <div class="audit-picture-item-text flex-row">类型：可见光/舰船/军舰/驱逐舰</div>
      </div>
      -->
    </div>

    <div class="audit-operate" >
      <button *ngIf="currentSampleFile?.markStatus  === 1" class="btn btn-remove m-r" (click)="markErrorOrCorrect('ERROR_LABEL')">标注错误</button>
      <button *ngIf="currentSampleFile?.markStatus  === 1" class="btn" (click)="markErrorOrCorrect('CORRECT_LABEL')">通过入库</button>

      <button *ngIf="currentSampleFile?.markStatus  === 2" class="btn btn-remove m-r" >已标注错误</button>
      <button *ngIf="currentSampleFile?.markStatus  === 3" class="btn">已通过入库</button>
    </div>

  </div>
</div>
